{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder"> 
                    About US </h1>

                    <p class="lead fw-normal text-white-50 mb-0">Welcome PEOPLE OF HOPE</p>
                </div>
            </div>

        </header>

        <div class="container ">
        	<div class ="row">
        		<center>
        			<div class= "col-8"> 
        				<p align="justify">
        					<br/>
        				<br>
        				Welcome to the Hope College Economics website! Our goal is to provide students with valuable resources, insights, and opportunities related to economics. Whether you're exploring economic theories, engaging in research, or preparing for a career in business, policy, or academia, this platform is designed to support your journey.
        				<br/>
        				<br>

At Hope College, we emphasize a strong foundation in analytical thinking, real-world applications, and collaborative learning. Our department offers a range of courses that equip students with critical skills in economic analysis, data interpretation, and problem-solving.

Stay connected with us for updates on events, research opportunities, and discussions on current economic issues.


        		
</p>
<br/>
        				<br>


        		</div>
</center>
        	</div>


        </div>

{% endblock %}